// paths 
$image_path : "../images";
$font_path  :  "../fonts";

$openSans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$font-family: $openSans;
$font-family-heading: $roboto;
$font-family-btn: $roboto;

$color-blue : #089DF5;
$color-green: #2CCB4D;
$color-orange: #fab325;
$color-yellow: #f2b02b;
$color-red: #D56D5C;
$color-cyan: #6AB3AF;
$color-violet: #9836DD;
$color-black: #000000;
$color-dark: #212529;
$color-grey: #b7b7b7;
$color-white: #fff;
$color-light: #d7d7d7;

$theme: #172734;
$gold: #F3B329;
$white: #ffffff;
$black: #000000;
$text: #191F1F;

$leader: #634b4b;
$lab: #A1653C;
$culture: #503641;
$team: #735272;
$executive: #687370;

$heading-color: $color-dark;
$border-color: $color-grey;
