.section-about {
    .profile {
        padding: 30px 0 15px 0;
        @include bp(tablet-up) {
            padding: 60px 50px 15px 50px;
        }
    }
    .profile-photo {
        margin-bottom: 10px;
        pointer-events: none;
        @include bp(mobile-up) {
            margin-right: 10%;
        }
    }
    .profile-info {
        color: #3d4451;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #dedede;
    }
    .profile-preword {
        margin-bottom: 30px;
        span {
            color: #fff;
            @include font-size(14px);
            font-weight: 700;
            line-height: 1.1;
            display: inline-block;
            padding: 8px 12px;
            text-transform: uppercase;
            position: relative;
            background-color: $color-dark;
            &:before {
                content: '';
                width: 0;
                height: 0;
                top: 100%;
                left: 5px;
                display: block;
                position: absolute;
                border-style: solid;
                border-width: 0 0 8px 8px;
                border-color: transparent;
                border-left-color: $color-dark;
            }
        }
    }
    .profile-title {
        @include font-size(36px);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        font-family: $nunito;
        span {
            font-weight: 300;
            margin-right: 10px;
        }
        em {
            @include font-size(36px);
            font-style: normal;
            font-weight: 600;
        }
    }
    .profile-position {
        @include font-size(18px);
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 0;
        font-family: $nunito;
    }
    .profile-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 13px;
        }
        .title {
            display: block;
            width: 120px;
            float: left;
            color: #333333;
            @include font-size(12px);
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
        }
        .content {
            display: block;
            margin-left: 125px;
            @include font-size(15px);
            font-weight: 400;
            line-height: 20px;
        }
        a {
            color: inherit;
        }
    }
    .profile-social {
        padding: 10px 0;
        background-color: $color-dark;
    }
    .social {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 0;
            @include bp(mobile-up) {
                margin: 0 15px;
            }
        }
        a {
            width: 45px;
            height: 45px;
            line-height: 45px;
            position: relative;
            display: inline-block;
            background-color: transparent;
            transition: transition, background-color 0.25s linear 0s;
            backface-visibility: hidden;
            border-radius: 50%;
        }
        .gnu-icon {
            color: #fff;
            @include font-size(24px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.section-txt-btn {
    color: #000;
    @include font-size(20px);
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.section-title {
    color: #3d4451;
    @include font-size(34px);
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    font-family: 'Playfair Display';
    letter-spacing: 0.5px;
}

blockquote {
    color: #737881;
    @include font-size(18px);
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin: 0 0 20px 0;
}

.section {
    padding-top: 70px;
}

.section-about {
    margin-top: -200px;
    position: relative;
}

.about-me {
    blockquote {
        max-width: 991px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-box {
    background-color: #fff;
    padding: 30px 30px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
    @include bp(tablet-up) {
        padding: 50px 40px;
    }
}



.skill-progress-bar {
    position: relative;
    margin-bottom: 40px;
}

.interests-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin: 7px 5px;
        width: 74px;
        height: 74px;
        display: inline-block;
        position: relative;
        border-radius: 3px;
        @include bp(tablet-up) {
            border: 1px solid #d7dbde;
        }
    }
    i {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        line-height: 74px;
        cursor: pointer;
        color: #000;
    }
    span {
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        background-color: #717171;
        padding: 5px 8px;
        white-space: nowrap;
        position: absolute;
        top: 100%;
        margin-top: 10px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        border-radius: 3px;
        transition: all 0.15s ease-in;
        transform: translate3d(0, -15px, 0);
        backface-visibility: hidden;
    }
    li {
        &:hover {
            span {
                opacity: 1;
                visibility: visible;
                transition: all 0.35s ease-out;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
            }
        }
    }
}