include mixins 

header.page-head.page-head--masthead
  .page-head-wrapper
    .container-fluid
      nav.navbar
        a.navbar-brand(href='/')
          img(src='images/logo.svg' alt=author)
        ul.navbar-nav
          +item('Home', '#home', true)
          +item('About', '#about', false)
          +item('Skills', '#skills', false)
          +item('Experience', '#experience', false)
          +item('Contact', '#contact', false)
  
         
  