.page-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    a.navbar-brand {
        padding-left: 35px;
        @include bp(tablet-up) {
            padding-left: 80px;
        }
        @include bp(laptop-up) {
            padding-left: 0;
            img {
                animation: menuAnim map-get($easings, ease-in) 0.5s forwards;
            }
        }
    }
    img {
        width: 100%;
        max-width: 75px;
        height: auto;
        mix-blend-mode: difference;
        z-index: 99;
    }
}

.page-head-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        left: 0;
        transition: transform map-get($easings, ease-in-out) 0.25s;
        transform: translateY(-100%);
        box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 20%);
        .fixed & {
            transform: translateY(0);
        }
    }
}

.navbar-nav {
    position: relative;
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent;
    list-style: none;
    padding-top: 15px;
    a {
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include font-size(16px);
        display: block;
        transition: color map-get($easings, ease-in-out) 0.25s;
        &:hover, &:focus {
            color: $color-red;
        }
        .fixed & {
            color: $color-dark;
        }
    }
}

