.page-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include bp(laptop-up) {
        top: 44px;
    }
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    a.navbar-brand {
        padding-left: 35px;
        @include bp(tablet-up) {
            padding-left: 80px;
        }
        @include bp(laptop-up) {
            padding-left: 0;
            img {
                animation: menuAnim ease-in-out 0.5s forwards;
            }
        }
    }
    img {
        max-width: 164px;
        height: auto;
        margin-top: 20px;
        @include bp(tablet-up) {
            max-width: 218px;
        }
        @include bp(desktop-up) {
            max-width: 293px;
        }
    }
}

.navbar-nav {
    position: relative;
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent;
    padding-top: 25px;
    list-style: none;
    a {
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include font-size(18px);
        display: block;
        transition: color ease-in 0.25s;
        &:hover, &:focus {
            color: $color-red;
        }
    }
}

