* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

body {
    background-color: $color-light;
    &--dark-theme {
        background-color: $color-dark;
    }
}

.container-fluid {
    padding-left: $container-gutter;
    padding-right: $container-gutter;
}